<h2>Student Dashboard</h2>

<p>Welcome, <strong><%= user.name %></strong></p>

<div>
  <a href="/student/apply-course">Apply for Course</a>
  <a href="/student/apply-exam">Apply for Exam</a>
  <a href="/student/upload-document">Upload Document</a>
  <a href="/student/pay-fees">Pay Fees</a></li>
</div>