<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>

<header>
  <h1>K칩k치ny Neptun</h1>
  <% if (user) { %>
    <nav>
      <form method="POST" action="/api/auth/logout">
        <button>Logout</button>
      </form>
      <a href="/<%= user.role %>/dashboard">Back to Dashboard</a>
    </nav>
  <% } %>
</header>

<main>
  <%- include(body) %>
</main>

<footer>
  <small>&copy; 2025 K칩k치ny Neptun - ASD Informatika</small>
</footer>

</body>
</html>